body {
    background-color: #7fd1ca;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

nav {
    background-color: #5bb9b1;
    padding: 15px 0;
    margin-bottom: 30px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #1D5450; 
    cursor: pointer;
}

nav a:hover {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-family: 'Fredoka One', cursive;
    color: black;
    font-size: 60px;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 250px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #555;
    outline: none;
    box-shadow: 0 0 5px #555;
}

button {
    padding: 10px 20px;
    margin-left: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1D5450;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #555;
}

select {
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

#results img {
    border: 4px solid black;
    border-radius: 15px;
}

#results a {
    text-decoration: none;
}

#results a h3 {
    color: white;
    margin: 10px 0;
}

#bookshelf-results img {
    border: 4px solid black;
    border-radius: 15px;
}

#bookshelf-results a {
    text-decoration: none;
}

#bookshelf-results a h3 {
    color: white;
    margin: 10px 0;
}

#book-img {
 border: 4px solid black;
border-radius: 15px;
width: 8%;
}