body { 
    font-family: Arial; 
    margin: 0; 
    background-color: #ffffff; 
}

h1 {
    color: #ffffff;
    background-color: #1e3a5f;
    padding: 40px 0;
    text-align: center;
    margin: 0;
    font-size: 50px;
}

h2 { 
    color: #1e3a5f; 
    text-align: center; 
    margin-top: 30px;
    font-size: 30px;
}

h5 { 
    color: #555; 
    text-align: center; 
    margin-top: 30px;
    font-size: 15px;
}

#searchSection {
    text-align: center;
    margin: 20px 0;
}

#Sbox {  
    color: #333;
    background-color: #f1f5f9;
    width: 500px; 
    padding: 20px; 
    font-size: 20px;
    border: 2px solid #1e3a5f;
    border-radius: 10px;
}

#Sbtn { 
    padding: 10px 20px;
    margin-left: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#Sbtn:hover {
    background-color: #1d4ed8;
}

.controls {
    text-align: center;
    margin: 15px 0;
}

.controls button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #1e3a5f;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.controls button:hover {
    background-color: #162c47;
    transform: scale(1.05);
}

#results, #bookshelf {
    margin-top: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book { 
    width: 140px; 
    height: 200px;
    overflow: hidden;

    cursor: pointer; 
    display: flex;          
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #3b82f6;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.book img {  
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 12px;
    display: block;

    transform: scale(1.15);
}

.list .book {
    width: 80%;
    height: auto;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    gap: 20px;
}

.list .book img {
    height: 140px;
    width: 100%;
}

#details { 
    max-width: 600px;
    margin: auto;
    border: 10px solid #1e3a5f;
    padding: 20px;
    background-color: #e0f2fe;
    border-radius: 30px;
    text-align: center;
}

#pageSelect {
    color: #1e3a5f;
    background-color: #bae6fd;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
}

@media (max-width: 600px) {
    #Sbox {
        width: 90%;
    }

    .list .book {
        flex-direction: column;
        text-align: center;
    }
}

.book:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}
